@import 'libs/fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1482px;
  margin: 0 auto;
  padding: 0 20px;
}

.deco {
  width: 8px;
  height: 35px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border: none;
  border-radius: 50px;
}

@import 'blocks/hero';
@import 'blocks/header';
@import 'blocks/shows';
@import 'blocks/movies';
@import 'blocks/genres';
@import 'blocks/channels';
@import 'blocks/actors';
@import 'blocks/soon';
@import 'blocks/register';
@import 'blocks/footer';
@import 'libs/media';
@import 'blocks/modal';
