@import 'libs/fonts';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 29px;
}

.deco {
  width: 8px;
  height: 35px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border: none;
  border-radius: 50px;
}

.tns-ovh {
  padding: 0 15px;
}
.arrowPrev,
.arrowNext {
  display: block;
  position: absolute;
  top: 57%;
  padding: 100px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  svg {
    width: 20px;
    height: 34px;
  }
}
.arrowPrev {
  left: 5px;
  transform: translateY(-50%) rotate(180deg);
}
.arrowNext {
  right: 5px;
  transform: translateY(-50%);
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  padding: 4px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 15px 0 #fff;
  z-index: 6;
  text-decoration: none;
  
  svg {
    width: 80%;
    height: 80%;
    transform: rotate(-90deg);
    color: white;
  }
}

@import 'blocks/hero';
@import 'blocks/header';
@import 'blocks/shows';
@import 'blocks/movies';
@import 'blocks/genres';
@import 'blocks/channels';
@import 'blocks/actors';
@import 'blocks/soon';
@import 'blocks/register';
@import 'blocks/footer';
@import 'libs/media';
@import 'blocks/modal';
