.channels {
  width: 100%;
  min-height: 193px;
  margin-top: 70px;
  &__box {
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
  }
  &__title {
    position: relative;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 14px;
      height: 3px;
      right: -27px;
      background-color: #fff;
    }
    &::before {
      top: 7px;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 2px;
      transform: rotate(-45deg);
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
  &__item {
    width: 260px;
    height: 118px;
    background-color: #fff;
    border-radius: 20px;
    border: none;
  }
}