.movies {
  width: 100%;
  min-height: 464px;
  &__box {
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
  }
  &__title {
    position: relative;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 14px;
      height: 3px;
      right: -27px;
      background-color: #fff;
    }
    &::before {
      top: 7px;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 2px;
      transform: rotate(-45deg);
    }
  }
  &__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    img {
      border-radius: 21px;
    }
  }
  &__link {
    &_active {
      img {
        box-shadow: 0px 4px 30px -12px #26FFF2;
      }
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-radius: 100px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-decoration: none;
    &:hover {
      box-shadow: 0px 6px 50px rgba(50, 108, 255, 0.6);
    }
    
  }
}