.register {
  width: 100%;
  padding: 121px 0;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1224px;
    min-height: 270px;
    margin: 0 51px;
    padding: 0 51px;
    background: url('../img/register.jpg') center center/cover no-repeat;
    border-radius: 21px;
    border: none;
  }
  &__ask {
    // margin: 71px 57px;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    color: #FFF;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 141px;
    width: 141px;
    height: 50px;
    margin-right: 95px;
    padding: 15px 18px;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #323232;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
      box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
    }
  }
}