.line {
  content: "";
  width: 98%;
  max-width: 1500px;
  height: 2px;
  margin: 0 auto;
  background-color: #2F2E2E;
}
.deco {
  width: 8px;
  height: 35px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border: none;
  border-radius: 50px;
}
.shows {
  position: relative;
  width: 100%;
  padding: 40px 0;
  &__heading {
    display: none;
  }
  &__box {
    display: flex;
    align-items: center;
    margin: 60px 0 40px;
  }
  &__title {
    position: relative;
    padding: 10px 20px 10px 12px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 3px;
      right: 0;
      background-color: #fff;
    }
    &::before {
      top: 18px;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 14px;
      transform: rotate(-45deg);
    }
  }
  // .arrowNext {
  //   box-sizing: content-box;
  //   display: block;
  //   position: absolute;
  //   top: 35%;
  //   right: 63px;
  //   padding: 130px 10px;
  // }
  &__slider {
    width: 100%;
    max-width: 1442px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: hidden;
  }
  &__link {
    display: block;
    max-width: 206px;
    img {
      width: 100%;
      border-radius: 20px;
      &:hover {
        box-shadow: 0px 4px 30px -12px #26FFF2;
      }
    }
  }
}